@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}
body , html{
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(56, 60, 61, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ant-row{
  margin: 0 20 !important;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color : orangered;
}
p{
  margin: 5px !important;
  
  padding: 0;
}
.btn1{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 2px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
  border-radius: 10px;
}
.bt1:focus{
  border: none;
}
button{
  padding: 3px 10px !important;
}
.header{
  padding: 15px 0 0 0;
  border-bottom: 1px solid rgba(252, 249, 249, 0.24);
}
.header .ant-btn{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}
.content{
  min-height: 90vh;
  background-color: aliceblue;
  
}
.footer{
  background-color: aliceblue;
  padding: 10px;
}



.car{
  border-radius: 5px;
  margin-top: 100px;
  height: 250px;
  transition: 0.3s;
  background-color: white;
}
.car:hover{
  height :350px;
}
.car:hover > .car-content{

    opacity: 1;
    transform : translateY(-40px)

}
.carimg{
  height:250px;
  width: 100%;
  border-radius: 5px;
  transform: translateY(-50px);
}
.car-content{
  transform: translateY(-200px);
  opacity: 0;
  transition: all 0.7s ease;
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}
.login label , .login h1{
  color: white !important;
  opacity: 0.6;
}
.login-form{
  background-color: #1F1F1F;
}
.login-form input{
  background-color: #333333 !important;
  border : none !important;
  color: white;
  opacity: 0.5;
}
.login-logo{
  position: absolute;
  left:0;
  right:10%;
  top: 80%;
  bottom: 50%;
  transform: translateY(-50% , -50%);
  font-size:45px;
  opacity: 0.2 !important;
}
.register-logo{
  position: absolute;
  left:60%;
  right:0;
  top: 85%;
  bottom: 50%;
  transform: translateY(-50% , -50%);
  font-size:45px;
  opacity: 0.2 !important;
}
.login a{
  color: white !important;
  opacity: 0.5;
}

.carimg2{
  height: 400px;
  border-radius: 10px;
  width: auto;
}

svg{
  height:20px !important;
  width : 20px !important;
}
a{
  color: orangered !important;
}
.header-bg{
  background: #010009;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.slider-text{
  margin-left: 30px;
  margin-top: 90px;
  z-index: 5;
}
.slider-text h2{
  color: orangered;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  margin-left: 5px;
}
.slider-text p{
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding-right: 60%;
}
.slider-text p span {
  font-weight: bold;
  font-size: 23px;
  color: orangered
}
.primary-button {
  border: 2px double #EE493B;
  color: white !important;
  padding: 10px 20px !important;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 18px;
  transition: all 0.3s ease;
}
.primary-button:hover{
  background-color: #EE493B;
  border: 2px double #EE493B;
}
.slider-img{
  margin-top: -27%;
  margin-left: 37%;
  z-index: 5;
}
.slider-img-2{
  margin-top: -24%;
  margin-left: 45%;
  z-index: 5;
}
.shapes{
  position: relative;
  z-index: 8;
}


.find-area{
  height: 200px;
  margin-top: -10%;
  background-color: #fff;
  margin-bottom: 40px;
}
.find-title{
  height: 200px;
  background: #E53B2D;
  text-align: center;
}
.find-title h2{
  font-weight: bold;
  margin-top: 15%;
  color: #fff
}
.find-content{
  text-align: center;
  margin-top: 8%;
}

.secondary-button{
  padding: 10px 20px !important;
  background-color: #E53B2D;
  color: white;
  border: 2px double #E53B2D;
  transition: all 0.5s ease;
}
.secondary-button:hover{
  background-color: transparent;
  color: #E53B2D
}

.about-area{
  margin-top: 8% !important;
  text-transform: capitalize;
  padding-bottom: 40px;
}
.about-area h4{
  color: #E53B2D;
}
.about-area h2{
  color: #001238;
  font-weight: bold;
}
.about-area h6{
  color: gray;
  line-height: 25px;
}
.about-area .status{
  color: gray;
}
.about-area .status i {
  color: #E53B2D;
}
.sign-txt h4{
  color: #001238;
}

.service-area{
  margin-bottom: 40px;
}
.services{
  margin-left: -20px;
}
.service-title h4{
  color: #E53B2D;
}
.service-title h2{
  color: #001238;
  font-weight: bold;
  font-size: 40px;
}
.service{
  margin-top: 30px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.281);
  margin-right: 20px;
}
.service i{
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
  color: #E53B2D;
}
.service h2{
  color: #20272e5e;
  font-family: 'Oswald', sans-serif;
  text-align: right;
  font-size: 40px;
}
.service h3{
  color: #001238;
  font-size: 25px;
  font-weight: bolder;
}
.service h3:hover{
  color: #E53B2D;
}
.service h6{
  color: gray;
  font-size: 14px;
  line-height: 25px;
}

.driver-area{
  margin-bottom: 50px;
  padding: 40px;
  
}
.driver-content .text{
  background-color: #ff6d00;
}
 .driver-content .img{
  background: #EE493B;
  border-top-right-radius: 120%;
}
.driver-content .img img{
  margin-top: 30%;
}
.driver-content .text{
  background: url("https://images.unsplash.com/photo-1546453436-6d08a4070088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=994&q=80");
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  padding: 60px;
  z-index: -2;
} 
.driver-content .text h2{
  color: white;
  text-shadow: 0 0 5px 5px #1F1F1F;
  margin-left: 50px;
  padding-right: 20px;
  line-height: 60px;
}
.driver-content .text button{
  margin-left: 50px;
}


/* rent part  */
.rent{
  padding-bottom: 50px;
}
.link-button{
  background-color: transparent;
  border: 2px double #E53B2D;
  font-size: 18px;
  padding: 10px 15px;

}
.link-button button{
  background-color: transparent;
  border: none;
  text-transform: uppercase;

}
.active{
  background-color: #E53B2D;
  color: white;
}
.active button{
  color: white;
}